body {
    height: 100%;
    background: var(--light); 
}

main {
    // margin: 5%;
}

.btn {
    outline: none;
    margin: 1rem;
    max-width: 100px;
    // white-space: normal;
}

.btn:focus {
    outline: 0;
}

.btn:hover {
    cursor: pointer;
}

.reducefontsize{
    font-size: 5px;
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .btn-rows {
        text-align: left;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .btn-rows {
        text-align: center;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}