body {
  width: 100%;
  background: var(--light); }

main {
  margin: 5%; }

img {
  margin: 1rem; }

img:hover {
  cursor: pointer; }

.page-header {
  height: 100%; }

.container {
  max-width: 100%;
  overflow-x: hidden; }

.btn {
  margin: 1rem;
  max-width: 100px;
  white-space: normal; }

.btn:hover {
  cursor: pointer; }

.btn:active {
  cursor: pointer; }

#search-input {
  display: none; }

#submit-search-btn {
  display: none; }

#select-gif-btn {
  display: none; }

@media (min-width: 300px) {
  .btn-font-size {
    font-size: 18px; } }

@media (min-width: 600px) {
  .btn-font-size {
    font-size: 16px; } }
